---
import time from '../There Is Still Time.mp3'
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Time Passing</title>
</head>
<body class="bg-zinc-900 flex items-center justify-center min-h-screen overflow-hidden">
	<audio id="audio" src={time} muted autoplay loop></audio>
	<div id="datetime" class="font-mono subpixel-antialiased text-slate-50 text-5xl"></div>
	<script is:inline>
		function updateDateTime() {
			const now = new Date();
			const year = now.getFullYear();
			const month = String(now.getMonth() + 1).padStart(2, '0');
			const day = String(now.getDate()).padStart(2, '0');
			const hours = String(now.getHours()).padStart(2, '0');
			const minutes = String(now.getMinutes()).padStart(2, '0');
			const seconds = String(now.getSeconds()).padStart(2, '0');
			const milliseconds = String(Math.floor(now.getMilliseconds() / 10)).padStart(2, '0');
			const formattedDateTime = `${year} ${month} ${day} ${hours}:${minutes}:${seconds}:${milliseconds}`;
			document.getElementById('datetime').innerText = formattedDateTime;
		}
		setInterval(updateDateTime, 1);
		document.addEventListener('DOMContentLoaded', () => {
            const audio = document.querySelector('#audio');
            document.addEventListener('click', () => {
                audio.muted = false; 
                audio.play();
            });
		});
	</script>
</body>
</html>